convex.convex-auth-solid.com {
	header {
		Routed "Convex"
	}
	reverse_proxy localhost:3210
}

api.convex-auth-solid.com {
	header {
		Routed "API"
	}
	reverse_proxy localhost:3211
}

dash.convex-auth-solid.com {
	header {
		Routed "Dash"
	}
	reverse_proxy localhost:6790
}
