convex.convex-auth-solid.com {
	header {
		Routed "convex"
	}
	reverse_proxy localhost:3210
}

api.convex-auth-solid.com {
	header {
		Routed "api"
	}
	reverse_proxy localhost:3211
}

dash.convex-auth-solid.com {
	header {
		Routed "dash"
	}
	reverse_proxy localhost:6790
}
