app.convex-auth.com, app.convex-auth.dev {
	import shared_config_web
	header {
		Routed "solid"
	}
	reverse_proxy localhost:3016
}

dist.convex-auth.com, dist.convex-auth.dev {
	import shared_config_web
	import shared_config_caching
	header {
		Routed "dist"
	}
	root * /home/david/Coding/adaptive-convex-auth/public
	file_server
}

convex.convex-auth.com, convex.convex-auth.dev {
	import shared_config_simple
	header {
		Routed "convex"
	}
	reverse_proxy localhost:3017
}

api.convex-auth.com, api.convex-auth.dev {
	import shared_config_simple
	header {
		Routed "api"
	}
	reverse_proxy localhost:3018
}

dash.convex-auth.com, dash.convex-auth.dev {
	import shared_config_simple
	header {
		Routed "dash"
	}
	reverse_proxy localhost:6790
}


ddash.convex-auth.com, ddash.convex-auth.dev {
	import shared_config_simple
	header {
		Routed "ddash"
	}
	reverse_proxy localhost:6790
}
